.App {
  text-align: center;
  height: auto;
}

h1{
  color: wheat;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  background-color: rgb(86, 17, 17);
  padding: 50px;
  border-radius: 20px;
}

.question{
  width: 75%;
  padding: 0px 50px;
  border: 1px solid wheat;
  margin: 20px;
  color: wheat;
}

button{
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: wheat;
  color:rgb(86, 17, 17) ;
  font-weight: bold;
}

.hidden{
  display: none;
}
